

    .button:link,.button:visited
    {

        text-decoration: none;
        color: $floralwhite;
        padding:1.5rem 4rem;
        font-size: 1.5rem;
        border-radius: 10rem;
        border: 1px solid;
        text-transform: uppercase;
        margin-top: 3rem;
        color: #333;
        background-color: $floralwhite;
        font-weight: 500;
        letter-spacing: 0.1rem;
        transition: all 0.2s;
        animation-fill-mode: forwards;
        animation:
             animatedbutton 3.5s ease-in 0s,
             1.8s linear 3.5s infinite running hoverr ;

        &:hover
        {
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            background-color: $button_gradient;
            color: $floralwhite;
            animation-play-state: paused;

        }
        
        &:active
        {
            background: linear-gradient( right, $button_gradient, $button_gradient2);
            transform: translateY(-.1rem);
            box-shadow: 0 5px 10px rgba(0,0,0,0.2);
            animation-play-state: paused;

        }
    }
