
.menu__image__2
{
    background-image: url(../../images/pizza.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}